@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
  font-family: 'Geist', sans-serif, Arial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  --bs-breakpoint-xs: 500px;
  --bs-breakpoint-sm: 640px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 1024px;
  --bs-breakpoint-xl: 1500px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
