.titled-card {
    max-width: 700px;
    width: calc(100vw - 4rem) !important;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.titled-card > :first-child {
    background-color: #034E7A;
    padding-left: 1rem;
    color: white;
}
