.titled-card {
    max-width: 700px;
    width: calc(100vw - 2rem) !important;
    margin: 1rem;
}

.titled-card > :first-child {
    background-color: #034E7A;
    padding-left: 1rem;
    color: white;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.titled-card > :last-child {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    overflow: hidden;
}
